.letraTitulo{
    font-size: 65pt;
}
.letrabaner{
    font-size: 20pt;
}
.letraTitulo360 {
    font-size: 25pt;
    font-weight: bold;
}
.letratexto360 {
    font-size: 20pt;
    font-weight: bold;
}
.btnApartamento{
    cursor: pointer;
}

@media (max-width: 600px) {
    .letraTitulo{
        font-size: 30pt;
    }
    .letrabaner{
        font-size: 15pt;
    }
    .letraTitulo360 {
        font-size: 15pt;
        font-weight: bold;
    }
    .letratexto360 {
        font-size: 10pt;
        text-align: justify !important;
        font-weight: bold;
    }
}
