.letraTituloC {
    font-size: 50pt;
    font-weight: bolder;
}
.letraTextoC {
    font-size: 30pt;
    font-weight: bolder;
}
.letraTextoC1 {
    font-size: 30pt;
}
.mapa{
  width: 600px; 
  height: 550px;
}
@media (max-width: 600px) {
    .letraTituloC {
        font-size: 25pt;
        font-weight: bolder;
    }
    .letraTextoC {
        font-size: 20pt;
        font-weight: bolder;
    }
    .letraTextoC1 {
        font-size: 14pt;
    }
    .mapa{
        width: 350px; 
        height: 250px;
    }
}