.letraTituloE {
    font-size: 34pt;
}
.letraTextoE {
    font-size: 40pt;
}
.localizacion {
    height: 80%;
    width: 80%;
}

@media (max-width: 600px) {
    .localizacion {
        height: 100%;
        width: 100%;
    }
    .letraTextoE {
        font-size: 20pt;
    }
    .letraTituloE {
        font-size: 15pt;
    }
}