@import url("./modelo.css");
@import url("./Inicio.css");
@import url("./Apartamento.css");
@import url("./Formulario.css");
@import url("./Contacto.css");
@import url("./Edificio.css");
/* Variables de color */
:root{
  --colorRojo:#D7042B;
  --ColorAzul: #04D7D7;
  --colorWhite: #fff;
}
body {
  background: #000;
}
.letra_Hat {
  font-family: 'Red Hat Display', sans-serif;
}
.letra_Open {
  font-family: 'Open Sans', sans-serif;
}
.color-texto{
  color: var(--colorRojo);
}
.color-texto1{
  color: var(--ColorAzul);
}
.color_fondo{
  background: var(--colorRojo);
}
.color_fondo1{
  background: var(--ColorAzul);
}
.posicion {
  justify-items: center;
  color: var(--colorRojo);
}
.theme--dark.v-btn.v-btn--icon{
  color: var(--colorRojo);
}
.btn {
  float: right;
}
.socialmedia {
  background: #04D7D7;
  margin: 9px 10px;
  padding: 2px 13px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  display: inline-block;
}

.socialmedia i {
  color: #000;
}
.formulario {
  padding: 0% !important;
}
.botonmenu {
  display: none;
}
.iconosModelo{
  font-size: 80px;
}

.paddingFooter{
  padding: 20px 100px;
}
.divisor{
  padding: 0;
  margin: auto;
  width: 25%;
  height: 10px;
}
@media (max-width: 800px) {
  .responsive {
    display: none;
  }
  .botonmenu {
    display: inline;
  }
  .paddingFooter{
    padding: 0px 0px;
  }
  .socialmedia {
    margin: 9px 9px;
    padding: 1px 8px;
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}