.cabecera {
    z-index: 1000;
}

.popup {
    padding: 40px;
}

.v-dialog {
    margin-top: 13% !important;
}

.logop {
    width: 50px;
    height: 50px;
}

.letra-menu {
    font-size: 17pt;
}

.boton-menu {
    display: none;
}

.logo-cel {
    display: none;
}

.v-tabs-slider {
    background-color: $color-Azul !important;
}

.v-tab:before {
    background-color: transparent !important;
}

.theme--dark.v-tabs>.v-tabs-bar .v-tab--disabled,
.theme--dark.v-tabs>.v-tabs-bar .v-tab:not(.v-tab--active),
.theme--dark.v-tabs>.v-tabs-bar .v-tab:not(.v-tab--active)>.v-icon {
    color: $color-Rojo !important;
}

.v-tabs-bar.theme--dark .v-tab:not(.v-tab--active):not(.v-tab--disabled) {
    opacity: 1 !important;
}
.bnt-float {
    background: $color-Azul;
    padding: 1%;
    z-index: 10;
    position: fixed;
    right: 0px;
    top: 15%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    img{
        width: 30px;
        height: 30px;    
        transition: .5s;
        &:hover {
            width: 35px;
            height: 35px;
        }
        @include mq(min,lg) {
            width: 50px;
            height: 50px;
            &:hover {
                width: 70px;
                height: 70px;
            }
        }
    }
}
[role=menu].v-menu__content {
    margin-top: 4vh;
    margin-left: 2vh;
    @include mq(min,lg) { margin-top: 5vh; }
    .v-list { background-color: $color-Azul; }
    .v-list-item__title { padding-bottom: 10px; }
    .v-list-item:nth-child(1) { padding-top: 10px;  }
}

@media (max-width: 1500px) {
    .letra-menu {
        font-size: 14pt;
    }
}

@media (max-width: 1200px) {
    .letra-menu {
        font-size: 12pt;
    }
}

@media (max-width: 1100px) {
    .letra-menu {
        font-size: 10pt;
    }
}

@media (max-width: 1000px) {
    .logo-web {
        display: none;
    }
    .logo-cel {
        display: inline;
    }
}

@media (max-width: 960px) {
    .logo-web {
        display: inline;
    }
    .logo-cel {
        display: none;
    }
    .head-portal {
        padding-top: 14px;
    }
    .responsive {
        display: none;
    }
    .boton-menu {
        display: inline;
    }
    .menu-cel {
        font-size: 1.8125rem !important;
        line-height: 4rem !important;
    }
}

@media (max-width: 400px) {
    .logo-web {
        display: none;
    }
    .logo-cel {
        display: inline;
    }
    .letra-menu {
        font-size: 12pt;
    }
    .popup {
        padding: 10px;
    }
    .logopopup {
        width: 30px;
        height: 40px;
    }
    .pop {
        margin-top: 40px !important;
    }
}

@media(max-width: 360px) {
    .v-application .py-10 {
        padding-top: 15px!important;
        padding-bottom: 15px!important;
    }
    .popup {
        padding: 10px;
    }
    .pop {
        margin-top: 50px !important;
    }
}

@media(max-width: 290px) {
    .pop {
        margin-top: 50px !important;
    }
}