#carouselBlock {
    .carousel__40  {
        @include mq(max,md) {
            .v-carousel__controls {
                height: 25px;
                .v-btn__content i { font-size: 9px !important; }
            }
        }
        .v-window__next, .v-window__prev {
            background-color: transparent;
            i {
                color: $color-Azul;
                font-size: 4rem !important;
            }
        }
    }
    .carousel__home {
        .v-image__image {
            background-size: 75%;
            @include mq(min,mg) { background-size: 90%; }
        }
    }
    .carousel__state {
        .v-image__image {
            background-size: 60%;
            @include mq(min,mg) { background-size: 50%; }
        }
    }
}


.ex--center-mode {
    width: 100%;
    max-width: 100%;
    margin: auto;
  }
.theme--light.v-application {
    color: $color-Rojo;
}
@media(max-width: 400px){
    .carousels-40 {
        padding: 50px 0px !important;
    }
}