.carousels-40 {
    padding: 10px 100px !important;
    .ex--center-mode {
        width: 600px;
        max-width: 100%;
        margin: auto;
      }
    .vueperslides__bullet {
        border: 1px solid $color-Rojo !important;
        background-color: rgba($color: $color-Rojo, $alpha: 0.5) !important;
    }
}
.theme--light.v-application {
    color: $color-Rojo;
}
.vueperslides__arrows--outside .vueperslides__arrow--next {
    right: -70px;
}
.vueperslides__arrows--outside .vueperslides__arrow--prev {
    left: -70px;
}