.title-contact {
    font-size: 1.5rem;
    font-weight: bold;
    @include mq(null,1600px,1024px) {font-size: 2.5rem;}
    @include mq(min,1600px) {font-size: 3rem;}
}
.title-loc-contact {
    font-size: 2rem;
    font-weight: bold;
    @include mq(min,1600px) { font-size: 3.5rem; }
}
.text-loc-contact {
    font-size: 1.2rem;
    @include mq(min,1600px) { font-size: 1.5rem; }
}
.img-parking {
    width: 70%;
    @include mq(min,1024px) { width: 30%; }
}
.title-time {
    font-size: 2.3rem;
    @include mq(min,1024px) { font-size: 1.8rem; }
}
.map{
    width: 60%;
    height: 25vh;
    @include mq(min,1024px) { height: 50vh; }
}
.btn-waze {
    img {
        width: 15%;
        @include mq(min,1024px) { width: 8%; }
        &:hover { filter: opacity(0.6) drop-shadow(2px 2px 6px #3c3c3b) }
    }
}