.letra-Titulo-edifico {
    font-size: 60pt;
    font-weight: bold;
}
.letra-edificio {
    font-size: 30pt;
    font-weight: bold;
}
.lista-edifico ul{
    list-style: none;
    .item1::before{
        content: "●";
        display: inline-block;
        color: $color-Orange;
        font-size: 60px;
    }
    .item2::before{
        content: "●";
        display: inline-block;
        color: $color-Azul-Punto;
        font-size: 60px;
    }
    .item3::before{
        content: "●";
        display: inline-block;
        color: $color-Morado;
        font-size: 60px;
    }
    .item4::before{
        content: "●";
        display: inline-block;
        color: $color-Black;
        font-size: 60px;
    }
    .item5::before{
        content: "●";
        display: inline-block;
        color: $color-Rosado;
        font-size: 60px;
    }
}
.letra-Texto-E {
    font-size: 30pt;
}
@media(max-width: 1263px){
    .letra-Titulo-edifico {
        font-size: 40pt;
    }
    .letra-edificio {
        font-size: 25pt;
    }
}
@media(max-width: 800px){
    .letra-Titulo-edifico {
        font-size: 35pt;
    }
    .letra-edificio {
        font-size: 22pt;
    }
    .lista-edifico{
        padding: 25px;
    }
}
@media(max-width: 400px){
    .letra-Titulo-edifico {
        font-size: 20pt;
    }
    .letra-edificio {
        font-size: 18pt;
    }
    .lista-edifico{
        padding: 25px;
    }
    .letra-Texto-E {
        font-size: 24pt;
    }
}