.footer {
    background-color: $bg-footer;
    h3 {
        color: $color-Azul;
        font-family: $hat;
        margin-bottom: 1.5vw;
        font-size: 1.5rem;
    }
    .logoF{
        margin-bottom: 20px;
        img {
            width: 20%;
            @include mq(min,md) { width: 7%; }
        }
    }
    .container{
        padding: 20px 350px;
    }
    .socialmedia {
        background: $color-Azul;
        margin: 9px 10px;
        padding: 2px 13px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        text-decoration: none;
        font-size: 30px;
        display: inline-block;
        i{
            color: $color-White;
            cursor: pointer;
        }
    }
    .theme--light.v-tabs > .v-tabs-bar .v-tab--disabled, .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active), .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-btn, .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-icon { color: $color-Rojo; }
    @media (max-width: 1800px) {
        .container{
            padding: 20px 100px;
        }
    }
    @media (max-width: 1265px) {
        .container{
            padding: 10px;
        }
    }
    @media (max-width: 1100px) {
        .container{
            padding: 10px;
        }
    }
    @media (max-width: 960px) {
        .container{
            padding: 20px;
        }
    }
    @media (max-width: 400px) {
        .container{
            padding: 10px;
        }
    }
}