.btn {
    float: right;
}
.form{
    background-color: $color-gray-dark2;
    .margen {
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 4% 5%;
        position: relative;
    }
    .margenDerecha{
        position: absolute;
        top: 10%;
        left: 10%;
        width: 100px;
        height: 100px;
    }
    .margenIzquierda{
        position: absolute;
        right: 10%;
        bottom: 10%;
        width: 100px;
        height: 100px;
    }
    .title-form {
        font-size: 2.5rem;
        font-weight: 400;
        @include mq(min,lg) { font-size: 3.5rem; }
    }
    .texto-form {
        font-size: 1rem;
        @include mq(min,lg) { font-size: 1.5rem; }
    }
    .img-form {
        width: 25%;
    }
    .theme--light.v-input:not(.v-input--is-disabled) input, .theme--light.v-input:not(.v-input--is-disabled) textarea {
        color: $color-White;
    }
    .theme--light.v-label {
        color: $color-White;
    }
    .v-text-field>.v-input__control>.v-input__slot:after{
    color: $color-Azul;
    transform: none !important;
    }
    #app .v-btn--example {
    bottom: 0;
    position: absolute;
    margin: 0 0 16px 16px;
    }
    .color-icon .v-icon { color: $color-Azul; }
    .txt__check { font-family: $open !important; font-size: 0.9rem; }
    .size_input {width: 70%; margin: auto; }
    label.v-label {
        font-size: 1.5rem;
        overflow: inherit;
    }
    @media (max-width: 1800px) {
        /* .margen_content {
            padding: 1px;
        } */
        /* .title-form {
            font-size: 20pt;
        }
        .texto-form {
            font-size: 15pt;
        } */
    }

    @media (max-width: 1263px) {
        /* .margen_content {
            padding: 1px;
        } */
        /* .title-form {
            font-size: 20pt;
        }
        .texto-form {
            font-size: 14pt;
        } */
    }

    @media (max-width: 1158px) {
        /* .title-form {
            font-size: 20pt;
        }
        .texto-form {
            font-size: 13pt;
        } */
        .img-form {
            height: 80px;
            width: 80px;
        }
    }

    @media (max-width: 958px) {
        .margen {
          margin: 0px;
          padding: 9% 12%;
        }
        /* .margen_content{
          margin: 70px;
        } */
      }
    @media (max-width: 400px) {
        .margen {
            margin: 0px;
            padding: 35px;
        }
        /* .margen_content{
            margin: 70px;
        } */
          .margenDerecha{
            top: 5%;
            left: 5%;
            width: 80px;
            height: 80px;
        }
        .margenIzquierda{
            right: 5%;
            bottom: 5%;
            width: 80px;
            height: 80px;
        }
        /* .title-form {
            font-size: 20pt;
        }
        .texto-form {
            font-size: 12pt;
        } */
        .img-form {
            height: 80px;
            width: 80px;
        }
    }
}