p { color: $color-gray-dark; }
.letter--spacing {letter-spacing: 2px; }
.texto-hat {
  font-family: $hat;
}
.texto-opera {
  font-family: $open;
}
.color-texto-rojo {
  color: $color-Rojo;
}
.color-texto-azul {
  color: $color-Azul;
}
.graydark-text { color: $color-gray-dark !important }
.hover-url:hover { opacity: 0.6; }
.btn__site {
  border-radius: 15px;
  padding: 0 40px !important;
}
.fondo-Azul {
  background: $color-Azul;
}
.fondo-Rojo {
  background: $color-Rojo;
}
#app{
  background: $color-White;
}
.theme--dark.v-btn.v-btn--icon{
  color: $color-Rojo;
}
.divisor{
  padding: 0;
  margin: auto;
  width: 25%;
  height: 6px;
}
.formulario{
  margin-top: -12px;
}
.slide-fade-enter-active {
  transition: all .8s ease;
}
.slide-fade-leave-active {
  transition: all .6s cubic-bezier(.17,.67,.83,.67);
}
.slide-fade-enter, .slide-fade-leave-to{
  transform: translateY(800px);
  opacity: 0;
}
.btn-route360 {
  text-decoration: none;
  background: $color-Azul;
  margin: 9px 90px;
  padding: 20px 40px;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 10px 10px 10px 0 #ccc;
  color: #fff !important;
  h5 {
    font-weight: 400;
    &::after{
      content: ">>";
      color: $color-Rojo;
      font-weight: 900;
      position: absolute;
      padding-left: 1vw;
    }
    span{
        font-weight: 900;
    }
  }
  @include mq(min,mg) {
    font-size: 2.5rem;
    padding: 20px 100px;
  }
  /* @include mq(max,mg) { display: none; } */
}
#map-building {
  iframe.recorrido {
    width: 310px;
    height: 500px;
    @include mq(min,500px) {
      width: 480px;
    }
    @include mq(min,800px) {
      width: 780px;
    }
    @include mq(min,1360px) {
      width: 1250px;
      height: 600px;
    }
    @include mq(min,1820px) {
        width: 1740px;
        height: 700px;
    }
  }
}

@media (max-width: 564px) {
  .divisor {
    padding: 0;
    margin: auto;
    width: 45%;
    height: 5px;
  }
}
@media (max-width: 400px) {
  .divisor {
    padding: 0;
    margin: auto;
    width: 53%;
    height: 5px;
  }
}

