.title-Model {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 4%;
    @include mq(min,900px) { font-size: 2.5rem;}
    @include mq(min,1300px) { font-size: 3rem;}
}
.title-content {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}
.text-content {
    font-size: 1rem;
    margin: 0 15%;
    @include mq(min,800px) { font-size: 1.2rem; }
    @include mq(min,1440px) { margin: 0 25%; }
}
.size__img {
    width:90px;
    height:90px;
}
.letra-Texto-resena {
    font-size: 0.8rem;
    font-weight: bold;
    @include mq(min,800px) { font-size: 1rem; }
}
.seccion-tres-Modelo {
    padding: 16px;
    font-size: 55pt;
    font-weight: bold;
}
.title-benefit {
    font-size: 3rem;
    font-weight: bold;
    @include mq(min,1440px) { font-size: 5rem; }
}
.subtitle-benefic {
    font-size: 1.5rem;
    font-weight: bold;
    @include mq(min,1440px) { font-size: 2.5rem; }
}
.text-s-benefit {
    margin-left: 3vh;
    margin-top: 6vh;
    @include mq(null,1920px,1024px) { margin-left: 10vh; }
    @include mq(min,xl) { margin-left: 31vh; }
}
.size_txt_marketSpace {
    width: 70%;
    margin: auto;
}
.lista-Modelo {
    list-style: none;
    font-size: 20pt;
    margin-left: 15%;

    li {
        margin: 2%;
    }
    li::before{
        content: url("../img/etiqueta.svg");
        display: inline-block;
        position: absolute;
        width: 50px;
        height: 50px;
        left: 15%;
    }
}
.margenm {
    padding-left: 2%;
}
@media (max-width: 1700px) {
    .lista-Modelo {
        list-style: inside;
        list-style: none;
        font-size: 15pt;
        margin-left: 6%;
        li {
            margin: 2%;
        }
        li::before{
            content: url("../img/etiqueta.svg");
            display: inline-block;
            position: absolute;
            width: 40px;
            height: 40px;
            left: 17%;
        }
    }
}
@media (max-width: 1520px) {
    .seccion-tres-Modelo {
        padding: 16px;
        font-size: 45pt;
        font-weight: bold;
    }
    .lista-Modelo {
        list-style: none;
        font-size: 15pt;
        margin-left: 13%;
        li {
            margin: 3%;
        }
        li::before{
            content: url("../img/etiqueta.svg");
            display: inline-block;
            position: absolute;
            width: 50px;
            height: 50px;
            left: 15%;
        }
    }
    .margenm{
        padding-left: 5% !important;
    }
}
@media (max-width: 1256px) {
    .seccion-tres-Modelo {
        padding: 16px;
        font-size: 30pt;
        font-weight: bold;
    }
    .lista-Modelo {
        list-style: none;
        font-size: 15pt;
        margin-left: 10%;
        li {
            margin: 2%;
        }
        li::before{
            content: url("../img/etiqueta.svg");
            display: inline-block;
            position: absolute;
            width: 40px;
            height: 40px;
            left: 15%;
        }
    }
}
@media (max-width: 1050px) {
    .lista-Modelo {
        list-style: inside;
        list-style: none;
        font-size: 15pt;
        margin-left: 12%;
        li {
            margin: 2%;
        }
        li::before{
            content: url("../img/etiqueta.svg");
            display: inline-block;
            position: absolute;
            width: 40px;
            height: 40px;
            left: 10%;
        }
    }
}
@media (max-width: 800px) {
    .seccion-tres-Modelo {
        padding: 16px;
        font-size: 20pt;
        font-weight: bold;
    }
    .lista-Modelo {
        list-style: none;
        font-size: 13pt;
        margin-left: 15%;
        li {
            margin: 3%;
        }
        li::before{
            content: url("../img/etiqueta.svg");
            display: inline-block;
            position: absolute;
            width: 30px;
            height: 30px;
            left: 10%;
        }
    }
}
@media (max-width: 290px) {
    .margenm{
        padding: 5% !important;
    }
}
